dbdata/
files/
wuzapi
.env
.tool-versions

# Extracted files
dinastiapi-extract/
dinastiapi-static/

# Claude
.claude/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store
Thumbs.db

# Task files
tasks.json
tasks/
scripts/
.roo/
.cursor/
.roomodes
.taskmasterconfig
.windsurfrules
NEW_FEATS.md

*.code-workspace
**/*.code-workspace
.vscode/workspaceStorage/